.App {
  margin: 0;
}

.tabIndexMain{
}

#displayTabs{
  /* background: black; */

}

#tab{
  /* background: black; */
  /* color: rgb(233, 218, 248); */
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(41, 78, 180);
  padding: 0 20px;
}

.navbar span{
  color: rgb(233, 218, 248);
  font-weight: bold;
}

.signInControlls{
  color: rgb(233, 218, 248);
  font-weight: bold;
  display: flex;
}

.signInControlls p {
  margin-left: 10px;
}

