.App {
  margin: 0;
}

.tabIndexMain{
}

.displayTabs{
}

.navbar{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(105, 33, 172);
  padding: 0 20px;
}

.navbar span{
  color: white
}

.signInControlls{
  color: white;
  display: flex;
}

.signInControlls p {
  margin-left: 10px;
}

